ploidy            : 4

genotypeFile      : example-genotype-tetra-gwaspoly-ACGT.csv
phenotypeFile     : example-phenotype-single-trait.csv
genotypeFormat    : gwaspoly
mapFile           : NULL

significanceLevel : 0.05
correctionMethod  : Bonferroni     
gwasModel         : Full
nBest             : 10

filtering         : FALSE
MAF               : 0.01   #0.001    
MIND              : 0.1    #0.5      
GENO              : 0.1    #0.5      
HWE               : 1e-10  #1e-50    

tools             : GWASpoly
#tools             : GWASpoly SHEsis PLINK TASSEL

geneAction       : additive

R2               : 0.9
