ploidy : 4
genotypeFile : example-genotype-tetra-gwaspoly-ACGT.csv
phenotypeFile : tuber_shape.csv
genotypeFormat : gwaspoly
mapFile : NULL
significanceLevel : 0.05
correctionMethod : Bonferroni
gwasModel : full
nBest : 10
filtering : FALSE
MAF : 0.01
MIND : 0.1
GENO : 0.1
HWE : 1e-10
tools : gwaspoly
geneAction : additive
R2 : 0.9
paramsFilename : full-tetra-Filters-ADD.config
traitType : quantitative
trait : tuber_shape
outputDir : tuber_shape
