# Configuration for agrosavia data filtered by plink
default:
 genotypeFile         : "agrosavia-genotype-checked-tetra-ACGT.tbl"
 phenotypeFile        : "agrosavia-phenotype-checked-Gota.tbl"
 significanceLevel    : 0.05
 correctionMethod     : "Bonferroni"     # FDR, Bonferroni
 gwasModel            : "Structure"
 filtering            : FALSE
 MAF                  : 0.01   #0.001    # Default 0.01
 MIND                 : 0.1    #0.5      # Default 0.1
 GENO                 : 0.1    #0.5      # Default 0.1
 HWE                  : 1e-10  #1e-50    # Default 1e-10

