# Files
 genotypeFile      : genotype-matrix-format-NUMERIC-example.csv
 phenotypeFile     : phenotype-tuber_shape-example.csv
 genotypeFormat    : matrix
 mapFile           : genotype-MAP-file-example.csv

# GWAS model
 ploidy            : 4
 significanceLevel : 0.05
 correctionMethod  : Bonferroni     
 gwasModel         : Full
 geneAction        : additive
 R2                : 0.9

# Quality control
 filtering         : FALSE
 MAF               : 0.01
 MIND              : 0.1
 GENO              : 0.1
 HWE               : 1e-10 

# Tools
 tools             : GWASpoly SHEsis GAPIT TASSEL
 nBest             : 10
