# Files
 genotypeFile      : example-genotype-tetra-matrix-NUM.csv
 phenotypeFile     : example-phenotype.csv
 genotypeFormat    : matrix
 mapFile           : example-genotype-tetra-MAP.csv

# GWAS model
 ploidy            : 4
 significanceLevel : 0.05
 correctionMethod  : Bonferroni     
 gwasModel         : Full
 geneAction        : additive
 R2                : 0.9

# Quality control
 filtering         : FALSE
 MAF               : 0.01
 MIND              : 0.1
 GENO              : 0.1
 HWE               : 1e-10 

# Tools
 tools             : GWASpoly SHEsis PLINK TASSEL
 nBest             : 10
