default:
 ploidy            : 4

 genotypeFile      : "example-genotype-tetra-kmatrix-NUM.csv"
 phenotypeFile     : "example-phenotype.csv"
 genotypeFormat    : "kmatrix"
 mapFile           : example-genotype-tetra-MAP.csv

 significanceLevel : 0.05
 correctionMethod  : "Bonferroni"     
 gwasModel         : "Full"
 nBest             : 10

 filtering         : TRUE
 MAF               : 0.01   #0.001    
 MIND              : 0.1    #0.5      
 GENO              : 0.1    #0.5      
 HWE               : 1e-10  #1e-50    

 tools             : GWASpoly SHEsis PLINK TASSEL

 geneAction       : "additive"
