# Files
genotypeFile      : genotype-VCF-GT-format-example.vcf
phenotypeFile     : phenotype-toy-example.csv
genotypeFormat    : "vcf"
mapFile           : 

# GWAS model
ploidy            : 4
significanceLevel : 0.05
correctionMethod  : Bonferroni     
gwasModel         : Full
geneAction        : additive
R2                : 0.9

# Quality control
filtering         : TRUE
MAF               : 0.01
MIND              : 0.1
GENO              : 0.1
HWE               : 1e-10 

# Tools
tools             : GWASpoly SHEsis GAPIT TASSEL
nBest             : 10
