# Files
genotypeFile        : geno.vcf
phenotypeFile       : phenotype-toy-example.csv
genotypeFormat      : "vcf"
mapFile             : 
nonModelOrganism    : TRUE
numberOfChromosomes : 10

# GWAS model
ploidy            : 4
significanceLevel : 10
correctionMethod  : Bonferroni     
gwasModel         : Full
geneAction        : additive
R2                : 0.9

# Quality control
filtering         : TRUE
MAF               : 0.01
MIND              : 0.1
GENO              : 0.1
HWE               : 1e-10 

# Tools
tools             : GWASPoly SHEsis
#tools             : GWASpoly SHEsis GAPIT TASSEL
#tools             : GAPIT 
nBest             : 10
