# Configuration for agrosavia data filtered by plink
default:
    phenotypeFile    : "in/agrosavia-phenotype-checked.tbl"
    genotypeFile     : "in/agrosavia-genotype-tetra-ACGT.tbl"
    gwasModel        : "Naive"
    imputation       : True
    filtering        : True
    MAF              : 0.001   #0.001    # Default 0.01
    MIND             : 0.05    #0.5      # Default 0.1
    GENO             : 0.05    #0.5      # Default 0.1
    HWE              : 1e-10  #1e-50    # Default 1e-10

