# Configuration for agrosavia data filtered by plink
default:
    phenotypeFile    : "in/agrosavia-phenotype-checked.tbl"
    genotypeFile     : "in/agrosavia-genotype-tetra-ACGT.tbl"
    genotypeFormat   : "ACGT"
    gwasModel        : "Naive"
    imputation       : False
    filtering        : False
    MAF              : NULL #0.001    # Default 0.01
    MIND             : NULL #0.5      # Default 0.1
    GENO             : NULL #0.5      # Default 0.1
    HWE              : NULL #1e-50    # Default 1e-10

